pydantic
pydantic-settings
sqlalchemy
alembic
fastapi 
uvicorn 
asyncpg 
greenlet
pydantic[email]
pytz
redis
jose
passlib[bcrypt]
Crypto
pycryptodome
python-jose[cryptography]
pika
bcrypt
passlib
apscheduler
aio_pika
motor