pydantic
pydantic-settings
sqlalchemy
alembic
psycopg2
fastapi 
uvicorn 
asyncpg 
psycopg2-binary
greenlet
'pydantic[email]'
pytz
redis
jose
'passlib[bcrypt]'
Crypto
pycryptodome
"python-jose[cryptography]"
